@import '../../../public/style/variable.scss';

.navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: $font-navbar;
  font-size: 20px;
  background: #4f7bcc;
  width: 100vw;
  // height: 100vh;

  .navbar-title{
    font-weight: 400;
    font-size: 40px;
    margin: 10px 0 10px;
  }
  
  .navbar-route-container{
    text-align: center;
    margin: 20px 0 20px;
  }
}