@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC|Open+Sans|Roboto');

$font-sidebar : 'Open Sans', 'Noto-Sans-SC', sans-serif;
$font-body: 'Roboto', 'Noto-Sans-SC', sans-serif;
$body-line-height: 1.3;